html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

*:focus {outline:none;}

.float_left {float: left;}

.float_right {float: right;}

.align_verticaly {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.col-15 {width: 15%;}
.col-20 {width: 20%;}
.col-25 {width: 25%;}
.col-33 {width: 33.3333%;}
.col-50 {width: 50%;}
.col-60 {width: 60%;}
.col-70 {width: 70%;}
.col-80 {width: 80%;}
.col-85 {width: 85%;}
.col-100 {width: 100%}

.coll-1 {width: 8.33%;}
.coll-2 {width: 16.66%;}
.coll-3 {width: 25%;}
.coll-4 {width: 33.33%;}
.coll-5 {width: 41.66%;}
.coll-6 {width: 50%;}
.coll-7 {width: 58.33%;}
.coll-8 {width: 66.66%;}
.coll-9 {width: 75%;}
.coll-10 {width: 83.33%;}
.coll-11 {width: 91.66%;}
.coll-12 {width: 100%;}

@media only screen and (max-width: 768px) {
   /*For mobile phones: */
    [class*="coll-"] {
        width: 100%;
      }
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

body {
  width: 100%;
  height: auto;
}

body>.row:nth-child(1) {
  position: relative;
  background-color: grey;
  background-image: url(../images/image4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 49.7vw;
}

.build_trip {
  position: relative;
  top: 1.5vw;
  right: 1.5vw;
  background-color: #fff;
  font-family: 'Roboto';
  line-height: 1.5em;
  letter-spacing: 2px;
  color: #000;
  border-radius: 2em;
  height: 1.5em;
  padding: 0 1em;
  cursor: pointer;
}

.navigation {
  height: 13vw;
  background: linear-gradient(to bottom, rgba(80,80,80,0.7), rgba(80,80,80,0));
}

.meniu_icon {
  position: relative;
  top: 1.5em;
  left: 1.5em;
  width: 2em;
  height: 1.5em;
}

.meniu_icon>div {
  width: 100%;
  margin-bottom: 0.3em;
  border-top: 0.35em solid #fff;
}

.navigation>div:nth-child(2)>ul>li {
  font-size: 1.3vw;
  font-weight: bold;
  margin: 0 1.35vw;
  color: #fff;
  position: relative;
  top: -1vw;
  display: inline-block;
}

.navigation>div:nth-child(2)>ul>li:nth-child(3) {
  font-family: 'Dancing Script';
  font-size: 5vw;
  font-weight: bold;
  top: 0;
}

.moto {
  text-align: center;
  width: 75vw;
  margin: 0 auto;
}

.rotate {
  transform: rotate(356deg);
}

.moto span:nth-child(1) {
  font-family: 'Dancing Script';
  font-size: 7vw;
  line-height: 7vw;
  color: #fff;
  text-shadow: 1px 1px #444;
}

.serious {
  position: relative;
  top: 5vw;
  font-family: 'Fjalla One';
  font-size: 1.7vw;
  text-shadow: 1px 1px #444;
  color: #fff;
  letter-spacing: 0.7vw;
}

.trips {
  color: #fff;
  position: absolute;
  bottom: 4%;
  left: 1.5%;
}

.trips>div:nth-child(1) {
  margin-bottom: 5%;
}

.trips>div:nth-child(1)>span:nth-child(1) {
  font-size: 11px;
  letter-spacing: 4px;
}

.trips>div:nth-child(1)>span:nth-child(2) {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.trips>div:nth-child(2)>div:nth-child(1) {
  background-color: #fff;
  font-family: 'Roboto';
  line-height: 1.5em;
  /*font-style: italic;*/
  letter-spacing: 2px;
  color: #000;
  border-radius: 2em;
  height: 1.5em;
  padding: 0 1em;
}

.trips>div:nth-child(2)>div:nth-child(2) {
  font-family: 'Roboto';
  line-height: 3em;
  letter-spacing: 2px;
  height: 1.5em;
  text-indent: 1em;
  font-size: 0.5em;
  text-decoration: underline;
}

body>.row:nth-child(2),
body>.row:nth-child(4),
body>.row:nth-child(6) {
  background-color: #fff;
}

body>.row:nth-child(2)>div:nth-child(1),
body>.row:nth-child(4)>div:nth-child(1),
body>.row:nth-child(6)>div:nth-child(1) {
  margin: 4em auto 3em;
  text-align: center;
}

.motivation>span:nth-child(1) {
  display: block;
  font-family: 'Roboto';
  font-size: 2em;
  letter-spacing: 0.5em;
  line-height: 2em;
}

.motivation>span:nth-child(2) {
  font-family: 'Roboto';
  font-size: 0.8em;
  display: block;
  letter-spacing: 5px;
  color: red;
  text-shadow: 0.3px 0.3px #000;
  line-height: 2em;
}

.explore_button {
  background-color: #417A98;
  font-family: 'Roboto';
  line-height: 1.5em;
  font-weight: bold;
  font-size: 1em;
  /*font-style: italic;*/
  letter-spacing: 2px;
  color: #fff;
  border-radius: 2em;
  height: 3em;
  padding: 0 4em;
  margin: 2em 0 1em;
  border: 0;
}

body>div:nth-child(3) {
  height: 40vw;
}

body>div:nth-child(3)>div:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1445127040028-b1bdb9acd16e?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: cover;
  height: 20vw;
}body>div:nth-child(3)>div:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: cover;
  height: 20vw;
}body>div:nth-child(3)>div:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1448960968772-b63b3f40dfc1?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: cover;
  height: 20vw;
}body>div:nth-child(3)>div:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1432256851563-20155d0b7a39?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: cover;
  height: 20vw;
}body>div:nth-child(3)>div:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1450849608880-6f787542c88a?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: cover;
  height: 20vw;
}body>div:nth-child(3)>div:nth-child(6) {
  background-image: url(https://images.unsplash.com/photo-1448908828366-ae00562d5fde?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d3445f84509dd7515755762709630f97);
  background-size: cover;
  height: 20vw;
}body>div:nth-child(3)>div:nth-child(7) {
  background-image: url(https://images.unsplash.com/photo-1448546120959-a4b0e3dd910d?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: cover;
  height: 20vw;
}body>div:nth-child(3)>div:nth-child(8) {
  background-image: url(https://images.unsplash.com/photo-1447877015176-3099cb49cd6a?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: cover;
  height: 20vw;
}

.images>div {
  text-align: center;
  vertical-align: middle;
}

.images>div>span {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'Roboto';
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

body>div:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1448960968772-b63b3f40dfc1?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: cover;
  height: 40vw;
}

body>div:nth-child(5)>div>div:nth-child(1)>div {
  width: 6em;
  height: 6em;
  border-top: 0.2em solid #fff;
  border-right: 0.2em solid #fff;
  border-bottom: 0.2em solid #fff;
  text-align: center;
}

body>div:nth-child(5)>div>div:nth-child(3)>div {
  width: 6em;
  height: 6em;
  border-top: 0.2em solid #fff;
  border-left: 0.2em solid #fff;
  border-bottom: 0.2em solid #fff;
  text-align: center;
}

body>div:nth-child(5)>div>div:nth-child(1)>div>span,
body>div:nth-child(5)>div>div:nth-child(3)>div>span {
  color: #fff;
  font-size: 3em;
  line-height: 2em;
  font-family: 'Roboto';
}

body>div:nth-child(5)>div:nth-child(1) {
  height: 100%;
  background: linear-gradient(to bottom, rgba(120,120,120,0.4), rgba(40,40,40,0.6), rgba(120,120,120,0.4));
}

.carusel_info>div:nth-child(1) {
  font-family: 'Fjalla One';
  font-size: 2em;
  color: #fff;
  text-align: center;
  letter-spacing: 0.3em;
  margin-top: 1em;
}

.carusel_info>div:nth-child(2) {
  padding-top: 1em;
  width: 3em;
  margin: 0 auto 1em;
  border-bottom: 0.3em solid #fff;
}

.carusel_info>div:nth-child(3) {
  font-size: 1.2em;
  text-align: center;
  font-family: 'Cardo';
  color: #fff;
}

.carusel_info>input {
  display: block;
  margin: 2em auto 0;
  border: 0;
  color: #fff;
  background-color: #000;
  height: 2em;
  border-radius: 3em;
  font-family: 'Roboto';
  font-size: 1em;
  padding: 0 3em;
  letter-spacing: 0.2em;
}

/* ------------------------- RESPONSIVE -------------------------- */

.article_container {
  width: 90%;
  margin: 0 auto;
}

.stories {
  margin-top: 2em;
}

.stories>div:nth-child(2)>span:nth-child(1) {
  display: block;
  font-family: 'Roboto';
  font-size: 0.7em;
  display: block;
  letter-spacing: 5px;
  color: red;
  text-shadow: 0.3px 0.3px #000;
  padding-top: 1em;
}

.stories>div:nth-child(2)>span:nth-child(2) {
  display: block;
  font-family: 'Roboto';
  font-size: 1em;
  letter-spacing: 0.15em;
  line-height: 1.2em;
  margin: 0.3em 0 0;
  font-weight: bold;
}

.stories>div:nth-child(2)>span:nth-child(3) {
  display: block;
  font-family: 'Roboto';
  font-size: 0.6em;
  line-height: 1.5em;
  font-weight: bold;
  color: #aaa;
  letter-spacing: 2px;
  margin-top: 0.7em;
}

.article_container>div:nth-child(1)>div:nth-child(1) {
  background-image: url(../images/image1.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}
.article_container>div:nth-child(2)>div:nth-child(1) {
  background-image: url(../images/image2.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}
.article_container>div:nth-child(3)>div:nth-child(1) {
  background-image: url(../images/image3.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}.article_container>div:nth-child(4)>div:nth-child(1) {
  background-image: url(../images/image4.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}.article_container>div:nth-child(5)>div:nth-child(1) {
  background-image: url(../images/image2.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}.article_container>div:nth-child(6)>div:nth-child(1) {
  background-image: url(../images/image3.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}.article_container>div:nth-child(7)>div:nth-child(1) {
  background-image: url(../images/image4.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}.article_container>div:nth-child(8)>div:nth-child(1) {
  background-image: url(../images/image1.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}.article_container>div:nth-child(9)>div:nth-child(1) {
  background-image: url(../images/image3.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}.article_container>div:nth-child(10)>div:nth-child(1) {
  background-image: url(../images/image2.jpg);
  background-size: cover;
  background-color: #fff;
  height: 150px;
}

.stories>div:nth-child(2) {
  box-sizing: border-box;
  padding: 0 1em;
}

/* -----     Footer     ----- */

.footer {
  background-color: #1E1E1E;
  margin-top: 5em;
}

.footer_links {
  width: 50%;
  min-width: 185px;
}

.footer_links>ul {
  list-style: none;
}

.footer>div:nth-child(1),
.footer>div:nth-child(2) {
  box-sizing: border-box;
  padding: 1.5em 7%;
}

.footer_links>ul>li {
  font-family: 'Roboto';
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.3em;
  line-height: 3em;
}

.subscribe_form>span {
  color: #fff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.3em;
  line-height: 3em;
}

.subscribe_form>form>input:nth-child(1),
.subscribe_form>form>input:nth-child(2) {
  display: block;
  float: left;
  width: 100%;
  max-width: 450px;
  text-indent: 1em;
  line-height: 2em;
  font-family: 'Roboto';
  border: 2px solid #2d2d2d;
  background-color: #1e1e1e;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1em;
}

.subscribe_form>form>input:nth-child(3) {
  background-color: #333;
  display: block;
  clear: both;
  float: left;
  width: auto;
  color: #fff;
  line-height: 2em;
  padding: 0 3em;
  margin-top: 1em;
  border: none;
  border-radius: 2em;
  font-family: 'Roboto';
  font-size: 15px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 768px) {

    .subscribe_form>form>input:nth-child(1),
    .subscribe_form>form>input:nth-child(2) {
      max-width: none;
    }
}

input::-webkit-input-placeholder {
  color: #8E0000;
  font-family: 'Kalam';
  letter-spacing: 2px;
}

/* ----- Mini Footer ----- */

.mini_footer {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #4d4d4d;
  background-color: #121212;
  font-family: 'Roboto';
  text-align: center;
}

.mini_footer>div {
  padding: 1.5%;
  box-sizing: border-box;
}

.mini_footer>div>span {
  padding: 0 10px;
}
